@font-face {
  font-family: "iconfont"; /* Project id 2523475 */
  src: url('iconfont.woff2?t=1645782086609') format('woff2'),
       url('iconfont.woff?t=1645782086609') format('woff'),
       url('iconfont.ttf?t=1645782086609') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dropbox:before {
  content: "\e734";
}

.icon-none:before {
  content: "\e710";
}

.icon-comma:before {
  content: "\eb86";
}

.icon-space:before {
  content: "\e6ab";
}

.icon-gas:before {
  content: "\e665";
}

.icon-lock:before {
  content: "\e808";
}

.icon-select:before {
  content: "\e81a";
}

.icon-language:before {
  content: "\e6c8";
}

.icon-sun:before {
  content: "\e64c";
}

.icon-moon_stars:before {
  content: "\e71e";
}

.icon-cookie:before {
  content: "\ef16";
}

.icon-discord:before {
  content: "\e6e0";
}

.icon-code:before {
  content: "\e6f2";
}

.icon-block:before {
  content: "\e7e0";
}

.icon-api:before {
  content: "\e7e1";
}

.icon-swap:before {
  content: "\e7f6";
}

.icon-check:before {
  content: "\e7fc";
}

.icon-close:before {
  content: "\e7fd";
}

.icon-question:before {
  content: "\e7fe";
}

.icon-api-fill:before {
  content: "\e86d";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-adduser:before {
  content: "\e7b2";
}

.icon-fall:before {
  content: "\e7f5";
}

.icon-twitter:before {
  content: "\e882";
}

.icon-CodeSandbox-circle-f:before {
  content: "\e885";
}

.icon-github-fill:before {
  content: "\e886";
}

.icon-bug-fill:before {
  content: "\e8e8";
}

.icon-bug:before {
  content: "\e8e9";
}

.icon-collapse:before {
  content: "\e900";
}

.icon-expand:before {
  content: "\e901";
}

.icon-subnode:before {
  content: "\e902";
}

.icon-rotate-left:before {
  content: "\e903";
}

.icon-rotate-right:before {
  content: "\e904";
}

.icon-Field-number:before {
  content: "\e90d";
}

.icon-Partition:before {
  content: "\e90e";
}

.icon-Field-Binary:before {
  content: "\e911";
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-Dollar:before {
  content: "\e77e";
}

.icon-close-circle:before {
  content: "\e77f";
}

.icon-EURO:before {
  content: "\e780";
}

.icon-minus-circle:before {
  content: "\e781";
}

.icon-question-circle:before {
  content: "\e782";
}

.icon-Pound:before {
  content: "\e783";
}

.icon-YUAN:before {
  content: "\e785";
}

.icon-transaction:before {
  content: "\e786";
}

.icon-undo:before {
  content: "\e787";
}

.icon-redo:before {
  content: "\e788";
}

.icon-reload:before {
  content: "\e789";
}

.icon-reloadtime:before {
  content: "\e78a";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-radius-bottomleft:before {
  content: "\e7ad";
}

.icon-radius-bottomright:before {
  content: "\e7ae";
}

.icon-radius-upleft:before {
  content: "\e7af";
}

.icon-radius-upright:before {
  content: "\e7b0";
}

.icon-radius-setting:before {
  content: "\e7b1";
}

.icon-propertysafety:before {
  content: "\e7c0";
}

.icon-safetycertificate:before {
  content: "\e7c1";
}

.icon-moneycollect:before {
  content: "\e7cd";
}

.icon-rocket:before {
  content: "\e7ce";
}

.icon-cluster:before {
  content: "\e7d7";
}

.icon-gateway:before {
  content: "\e7d8";
}

.icon-error:before {
  content: "\e7df";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-up:before {
  content: "\e7ed";
}

.icon-down:before {
  content: "\e7ee";
}

.icon-arrowright:before {
  content: "\e7ef";
}

.icon-arrowup:before {
  content: "\e7f0";
}

.icon-arrowleft:before {
  content: "\e7f1";
}

.icon-arrowdown:before {
  content: "\e7f2";
}

.icon-sort-descending:before {
  content: "\e7f3";
}

.icon-sort-ascending:before {
  content: "\e7f4";
}

.icon-thunderbolt:before {
  content: "\e843";
}

.icon-question-circle-fill:before {
  content: "\e845";
}

.icon-EURO-circle-fill:before {
  content: "\e846";
}

.icon-Dollar-circle-fill:before {
  content: "\e847";
}

.icon-Pound-circle-fill:before {
  content: "\e848";
}

.icon-safetycertificate-f:before {
  content: "\e855";
}

.icon-propertysafety-fill:before {
  content: "\e856";
}

.icon-thunderbolt-fill:before {
  content: "\e86e";
}

.icon-googleplus:before {
  content: "\e87a";
}

.icon-medium:before {
  content: "\e87b";
}

.icon-reddit:before {
  content: "\e87f";
}

