.select {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border: 0.05rem solid #e3e3e3;
  border: 0.05rem solid var(--border-01);

  &_bg {
    background-color: #f3f5fa;
    background-color: var(--bg-04);
  }

  &:hover {
    border: 0.05rem solid #09f;
  }

  &_header {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.5rem;
    color: #666666;
    color: var(--text-01);
  }

  &_content {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_input {
      width: 100%;
      font-size: 1.8rem !important;
      border: none;
      outline: none;
      padding: 0 0.5rem;
      background: none;

      color: #333333;
      color: var(--text-02);
    }

    &_btn {
      padding: 0.5rem;
      border: none;
      outline: none;
      background: none;

      color: #2f8af5;
    }

    &_box {
      display: flex;
      flex-wrap: nowrap;
      text-align: left;
      font-size: 1.2rem;
      align-items: center;

      &_play {
        display: flex;
        align-items: center;
        font-size: 0.8rem;

        &_icon {
          margin-right: 0.3rem;
          width: 1.5rem;
          height: 1.5rem;
          color: #ffffff !important;
          color: var(--text-01) !important;
          border: 0.05rem solid #f3f3f3;
          border: 0.05rem solid var(--border-03);
          border-radius: 50%;
          position: relative;

          &_picture {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../../assets/svg/token.svg);
          }

          &_title {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 0.8rem;
            line-height: 1.5rem !important;
            text-align: center !important;
            border-radius: 50%;
          }
        }

        &_token {
          white-space: nowrap;
          display: block;
          font-size: 1.2rem;
          margin: 0;
          padding: 0;

          color: #333333;
          color: var(--text-02);
        }

        &_btn {
          margin: 0 0.3rem;

          color: #333333;
          color: var(--text-02);
        }
      }
    }

    &_lock {
      color: #ffc700;
    }
  }
}
