.wrapper {
  margin: auto;
  width: 410px;
}

.container {
  text-align: left;
}

.main {
  border-radius: 1rem;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  background-color: var(--bg-02);
  box-shadow: 0px 0px 24px var(--shadow-01);

  &_box {
    position: relative;

    &_radio {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      padding: 0.3rem;
      border-radius: 0.5rem;
      border: 0.05rem solid #e3e3e3;
      border: 0.05rem solid var(--border-01);

      &_expire {
        width: 100%;
        margin: 0.3rem;

        &_title {
          display: block;
          margin-bottom: 0.5rem;
          font-size: 0.9rem;
          color: #666666;
          color: var(--text-01);
        }
      }
    }
  }

  &_content {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #ffffff;
    background-color: var(--bg-02);
  }

  &_exchange {
    position: absolute;
    top: 68%;
    left: 50%;
    width: 1.8rem;
    height: 1.8rem;
    margin-top: -0.9rem;
    margin-left: -0.9rem;
    border-radius: 99px;
    text-align: center;
    line-height: 1.8rem;
    cursor: auto;

    color: #333333;
    background-color: #fff;
    border: 0.05rem solid #f3f3f3;

    color: var(--text-02);
    background-color: var(--bg-02);
    border: 0.05rem solid var(--border-03);

    i {
      font-size: 1.2rem;
    }

    &:hover {
      cursor: pointer;
      background-color: #f7f7f7;
      background-color: var(--bg-04);
    }
  }
}

.address {
  margin-bottom: 0.5rem;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 0.6rem;
  font-size: 0.9rem;

  border: 0.05rem solid #e3e3e3;
  background-color: #f3f5fa;
  border: 0.05rem solid var(--border-01);
  background-color: var(--bg-04);
  color: var(--text-02);

  &:hover {
    border: 0.05rem solid #09f;
  }
}

.sumbit {
  display: flex;
  &_setting {
    display: flex;
    align-items: center;
    padding: 0.45rem 0.8rem;
    font-size: 1.4rem;
    text-align: center;
    margin-right: 0.4rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    line-height: 1.4rem;
    color: #333333;
    border: 0.05rem solid #f3f3f3;
    background-color: #ffffff;

    border: 0.05rem solid var(--border-01);
    background-color: var(--btn-bg-02);

    i {
      font-size: 1.5rem;
      color: #666;
      color: var(--text-04);
    }
  }
  &_disablebtn {
    display: block;
    padding: 0.8rem !important;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #bac7da;
    color: var(--text-03);
    background-color: var(--btn-bg-01);
  }
  &_btn {
    display: block;
    padding: 0.8rem !important;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    color: #ffffff;
    background-color: #0099ff;
  }

  &_unlock {
    display: block;
    padding: 0.8rem !important;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    color: #ffffff;
    background-color: #09f;
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    width: 100%;
  }

  .container {
    margin: 0 0.8rem;
  }
}
