.main {
  border-bottom: 0.05rem solid #f3f3f3;
  border-bottom: 0.05rem solid  var(--border-04);

  &_title {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  &_value {
    font-size: 1.1rem;
    color: #09f;
    margin: 0;
  }

  &_tips {
    display: block;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: #999;
  }
}

.submit_btn {
  cursor: pointer;
  display: block;
  padding: 0.5rem !important;
  width: 100%;
  background: none;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;

  color: #666666;
  color: var(--text-02);
}

@media screen and (max-width: 575px) {
  .wrapper {
    left: 0;
    width: 100%;
    margin-left: 0;
  }
}
