.main {
  padding: 1rem;
  text-align: center;
  border-bottom: 0.05rem solid #f3f3f3;
  border-bottom: 0.05rem solid var(--border-04);
  .message {
    font-size: 1.2rem;
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
    color: #666666;
    color: var(--text-02);
  }
  .icon {
    display: block;
    font-size: 3rem !important;
    margin-bottom: 0.5rem;
    color: #ff9c08;
  }
  .describe {
    margin: 0;
    font-size: 0.8rem;
    color: #999999;
    color: var(--text-06);
    word-wrap: break-word;
  }
}

.btn {
  cursor: pointer;
  display: block;
  padding: 0.8rem !important;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.1rem;
  background: none;
  color: #666;
  color: var(--text-01);
}

@media screen and (max-width: 575px) {
  .wrapper {
    left: 0;
    width: 100%;
    margin-left: 0;
  }
}
