.wrapper {
  display: inline-block;
  border-radius: 0.6rem;
  background-color: #ffffff;
  background-color: var(--bg-09);

  border: 0.05rem solid #f3f3f3;
  border: 0.05rem solid var(--border-04);

  .item {
    display: inline-block;
    border-radius: 0.5rem;
    margin: 0.25rem;
    border-radius: 0.3rem;
    text-align: center;
    padding: 0.4rem;
    box-sizing: border-box;
    display: inline-block;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;

    color: #333;
    color: var(--text-02);
    position: relative;

    &_name {
      font-size: 0.9rem;
      font-weight: bold;
      color: #666666;
      color: var(--text-02);
    }

    &_content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &:hover {
      background-color: #f3f5fa;
      background-color: var(--bg-04);
    }

    &_active {
      background-color: #f3f5fa;
      background-color: var(--bg-04);
    }
  }
}
