.wrapper {
  display: inline-block;
  border-radius: 0.6rem;
  background-color: #ffffff;
  background-color: var(--bg-09);

  border: 0.05rem solid #f3f3f3;
  border: 0.05rem solid var(--border-04);

  .item {
    display: inline-block;
    margin: 0.25rem;
    border-radius: 0.3rem;
    text-align: center;
    padding: 0.4rem;
    box-sizing: border-box;
    display: inline-block;
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: none;

    color: #333;
    color: var(--text-02);
    position: relative;

    &_name {
      font-size: 0.9rem;
      font-weight: bold;
      color: #666666;
      color: var(--text-02);
    }

    &_content {
      display: none;
      position: absolute;
      top: 130%;
      left: 0;
      background-color: #ffffff;
      background-color: var(--bg-09);
      border-radius: 0.3rem;

      &_sub {
        display: block;
        text-align: left;
        padding: 0.4rem;
        margin: 0.25rem;
        border-radius: 0.3rem;

        &_name {
          display: block;
          width: 8rem;
          font-size: 0.9rem;
          font-weight: bold;
          color: #666666;
          color: var(--text-02);
        }

        &:hover {
          background-color: #f3f5fa;
          background-color: var(--bg-04);
        }
      }
    }

    &:hover {
      background-color: #f3f5fa;
      background-color: var(--bg-04);
    }

    &:hover .item_content {
      display: block;
    }

    &_active {
      background-color: #f3f5fa;
      background-color: var(--bg-04);
    }
  }
}
