.wrapper {
  position: fixed;
  top: 5rem;
  left: 50%;
  width: 410px;
  margin-left: -205px;
  transition: all 0.4s ease;
  z-index: 999;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.cotainer {
  position: relative;
  z-index: 99;
  text-align: left;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #f3f5fa;
  background-color: var(--bg-07);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 24px var(--shadow-02);
}
.search {
  display: flex;
  align-items: center;

  &_input {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.8rem;
    font-size: 0.9rem;
    outline: none;

    color: #333333;
    border: 0.05rem solid #f3f3f3;
    background-color: #fff;
    color: var(--text-02);
    border: 0.05rem solid var(--border-01);
    background-color: var(--bg-14);
  }

  &_icon {
    color: #999999;
    margin-left: 0.5rem;

    i {
      font-size: 1.4rem;
    }
  }
}
.list {
  &_header {
    padding: 0.5rem 0;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999999;
    font-size: 0.9rem;
    &_name {
      margin: 0;
    }
    &_play {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-height: 500px) {
  .list {
    &_recommend {
      display: none;
    }
  }
}

@media screen and (max-width: 575px) {
  .wrapper {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
  }

  .mask {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .cotainer {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
