.main {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 0.05rem solid #f3f3f3;
  border-bottom: 0.05rem solid var(--border-04);
  text-align: center;

  .tokens {
    display: inline-block;
    margin-left: -0.5rem;

    .token {
      display: inline-block;
      margin-right: -1rem;
      background-color: #f3f3f3;
      border: 0.2rem solid #fff;
      border-radius: 50%;
      background-color: var(--bg-05);
      z-index: 2;
    }
  }

  .value {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
    color: #333333;
    color: var(--text-02);

    i {
      margin-left: 0.2rem;
      color: rgb(73, 165, 115);
    }
  }

  .title {
    display: block;
    font-size: 0.8rem;
    color: #333333;
    color: var(--text-02);
  }
}

.transcation {
  margin-bottom: 0.5rem;
  border-bottom: 0.05rem solid #f3f3f3;
  border-bottom: 0.05rem solid var(--border-04);

  &_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4rem;

    &_title {
      font-size: 0.8rem;
      margin: 0;
      color: #666;
      color: var(--text-01);
    }

    &_value {
      font-size: 0.8rem;
      margin: 0;
      color: #666;
      color: var(--text-01);
    }

    &_dot {
      display: inline-block;
      margin-left: 0.3rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 9999px;
      border: 0.05rem solid rgb(126, 255, 175);
      background-color: rgb(65, 182, 109);
    }
  }
}

.description {
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;

  background-color: #dbf1ff;
  color: #09f;
  background-color: var(--bg-10);
}

.sumbit_btn {
  display: block;
  padding: 0.8rem !important;
  width: 100%;
  border: none;
  outline: none;
  background: #09f;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.sumbit_disablebtn {
  display: block;
  padding: 0.8rem !important;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #bac7da;
  color: var(--text-03);
  background-color: var(--btn-bg-01);
}

@media screen and (max-width: 575px) {
  .wrapper {
    left: 0;
    width: 100%;
    margin-left: 0;
  }
}
