.wrapper {
  width: 100%;
  background-color: #fff;
  background-color: var(--bg-02);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 0.05rem solid #f3f3f3;
  border: 0.05rem solid var(--border-02);
  box-sizing: border-box;
  position: relative;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: #999999;
    color: var(--text-06);
    border-bottom: 0.05rem solid #f3f3f3;
    border-bottom: 0.05rem solid var(--border-02);
  }

  .main {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .token {
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #fff;
      background-image: url(../../assets/svg/token.svg);
      border-radius: 99999rem;
      background-color: #f3f5fa;
      background-color: var(--bg-04);
    }

    .pairbox {
      display: flex;
      align-items: center;
    }

    .pair {
      display: flex;
      align-items: center;
      padding: 0.2rem 0.4rem 0.2rem 0.8rem;
      position: relative;
      border-radius: 0.5rem;
      margin-top: 0.1rem;

      background-color: #f3f5fa;
      background-color: var(--bg-04);

      color: #333333;
      color: var(--text-02);

      &_token {
        display: block;
        margin-left: -0.5rem;
        background-color: #fff;
        border-radius: 99999rem;
      }

      &_label {
        margin: 0;
        margin-left: 0.2rem;
        font-size: 0.9rem;
      }
    }

    .bar {
      margin: 0.2rem;
      content: '';
      display: block;
      width: 1.7rem;
      height: 0.05rem;
      border-top: 0.3rem dotted #b3b3b3;
    }
  }
}
